set_io D1 B5
set_io D2 B4
set_io D3 A2
set_io D4 A1
set_io D5 C5
set_io TXD B12
set_io RXD B10
set_io clk J3
set_io resetq 43
set_io PIOS_00 70 # sck
set_io PIOS_01 68 # si
set_io PIOS_02 67 # so
set_io PIOS_03 71 # ss
set_io PIO1_18 105
set_io PIO1_19 106
set_io PIO1_20 107
set_io PIO1_02 78
set_io PIO1_03 79
set_io PIO1_04 80
set_io PIO1_05 81
set_io PIO1_06 87
set_io PIO1_07 88
set_io PIO1_08 90
set_io PIO1_09 91
